<ul class="media-list">
    <li class="media">
        <div class="media-left media-middle ng-scope mr-3">
            <span class="btn bg-teal btn-icon btn-rounded">
                <i class="icon-stack"></i>
            </span>
        </div>

        <div class="media-body">
            <h6 class="media-title font-weight-semibold">This exclusive past</h6>
            <span class="text-muted">Forward the some goodness suddenly squirrel therefore sadly notwithstanding onto alas the save</span>
        </div>

        <div class="ml-3">
            <h4 class="text-semibold no-margin ng-binding ng-scope">31</h4>
        </div>
    </li>

    <li class="media">
        <div class="media-left media-middle ng-scope mr-3">
            <span class="btn bg-teal btn-icon btn-rounded">
                <i class="icon-stack"></i>
            </span>
        </div>

        <div class="media-body">
            <h6 class="media-title font-weight-semibold">Oh shoddy about</h6>
            <span class="text-muted">Forward the some goodness suddenly squirrel therefore sadly notwithstanding onto alas the save</span>
        </div>

        <div class="ml-3">
            <h4 class="text-semibold no-margin ng-binding ng-scope">31</h4>
        </div>
    </li>

    <li class="media">
        <div class="media-left media-middle ng-scope mr-3">
            <span class="btn bg-teal btn-icon btn-rounded">
                <i class="icon-stack"></i>
            </span>
        </div>

        <div class="media-body">
            <h6 class="media-title font-weight-semibold">This exclusive past</h6>
            <span class="text-muted">Forward the some goodness suddenly squirrel therefore sadly notwithstanding onto alas the save</span>
        </div>

        <div class="ml-3">
            <h4 class="text-semibold no-margin ng-binding ng-scope">59</h4>
        </div>
    </li>

    <li class="media">
        <div class="media-left media-middle ng-scope mr-3">
            <span class="btn bg-teal btn-icon btn-rounded">
                <i class="icon-stack"></i>
            </span>
        </div>

        <div class="media-body">
            <h6 class="media-title font-weight-semibold">Oh shoddy about</h6>
            <span class="text-muted">Forward the some goodness suddenly squirrel therefore sadly notwithstanding onto alas the save</span>
        </div>

        <div class="ml-3">
            <h4 class="text-semibold no-margin ng-binding ng-scope">31</h4>
        </div>
    </li>

    <li class="media">
        <div class="media-left media-middle ng-scope mr-3">
            <span class="btn bg-teal btn-icon btn-rounded">
                <i class="icon-stack"></i>
            </span>
        </div>

        <div class="media-body">
            <h6 class="media-title font-weight-semibold">This exclusive past</h6>
            <span class="text-muted">Forward the some goodness suddenly squirrel therefore sadly notwithstanding onto alas the save</span>
        </div>

        <div class="ml-3">
            <h4 class="text-semibold no-margin ng-binding ng-scope">83</h4>
        </div>
    </li>
</ul>