<div class="breadcrumb">
    <!--ng-container *ngFor="let item of breadcrumb">
        <a [routerLink]="[{{item.route}}]" routerLinkActive="active" class="breadcrumb-item">
            <i *ngIf="item.icon" class="icon-{{item.icon}} mr-2"></i> {{item.title}}
        </a>
    </ng-container-->
    <a class="breadcrumb-item">
        <i class="icon-home2 mr-2"></i> Home
    </a>
    <a class="breadcrumb-item">
        Teste
    </a>
    <a class="breadcrumb-item text-muted">
        Teste
    </a>
</div>
