<div class="datatable-header-component d-sm-flex align-items-sm-center justify-content-sm-between flex-sm-wrap">
    <div id="DataTables_Table_0_filter" class="dataTables_filter">
        <label>
            <span>Filter:</span>
            <input type="search"
                   class=""
                   placeholder="Digite para filtar..."
                   aria-controls="DataTables_Table_0">
        </label>
    </div>
    <div class="dataTables_length" id="DataTables_Table_0_length">
        <label>
            <span>Show:</span>
            <tk-select2>
            </tk-select2>
        </label>
    </div>
</div>
