<tk-card class="entity-list minHeightCard">
    <tk-card-header [borderBottom]="false">
        <tk-card-title>
            Lista de Entidades
        </tk-card-title>
    </tk-card-header>

    <ng-container *ngIf="!entityTypes || entityTypes.length == 0">
            <tk-card-body class="justify-content-center text-center flex-column p-4 flex-grow-1">
                <i class="icon-alert icon-2x text-info border-info border-3 rounded-round p-3 mb-3 flex-grow-0"></i>
                <h5 class="card-title flex-grow-0">Sem variáveis</h5>
            </tk-card-body>
    </ng-container>

    <ng-container *ngIf="entityTypes?.length > 0">
        <tk-datatable>
            <!--tk-datatable-header>
            </tk-datatable-header-->

            <tk-datatable-scroll>
                <table class="table dataTable no-footer table-lg table-hover table-responsive-md table-striped table-borderless"
                       role="grid">
                    <thead>
                    <tr role="row">
                        <th class="sorting_asc col-6" scope="col">
                            Nome
                        </th>
                        <th class="sorting col-5" scope="col">
                            Rota
                        </th>
                        <th class="text-center sorting_disabled col-1" scope="col">
                            Ações
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr role="row" class="odd" *ngFor="let entity of entityTypes">
                        <td class="sorting_1">{{entity.name}}</td>
                        <td class="">{{entity.route}}</td>
                        <td class="text-center">
                            <div class="list-icons">
                                <a class="list-icons-item pointer" (click)="selectToUpdate(entity._id)">
                                    <i class="icon-pencil7"></i>
                                </a>
                                <a class="list-icons-item pl-2 pointer" routerLink="/admin/{{entity.route}}">
                                    <i class="icon-list"></i>
                                </a>
                                <a class="list-icons-item pl-2 pointer" (click)="deleteEntity(entity, deleteEntityModal)">
                                    <i class="icon-trash"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </tk-datatable-scroll>

            <tk-datatable-footer>
            </tk-datatable-footer>
        </tk-datatable>
    </ng-container>
</tk-card>

<ng-template #deleteEntityModal>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Deletar entityType {{entityTypeToDelete.name}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="deleteModal.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        Tem certeza que deseja deletar a variável {{entityTypeToDelete.name}}?
    </div>
    <div class="modal-footer d-flex justify-content-end align-content-center">
        <button class="btn btn-link" (click)="deleteModal.hide()">Não</button>
        <button class="btn btn-warning" (click)="confirmDeleteEntityType()">Sim</button>
    </div>
</ng-template>
