<select class="select2-hidden-accessible"
        tabindex="-1" aria-hidden="true">
    <option value="10">10</option>
    <option value="25">25</option>
    <option value="50">50</option>
    <option value="100">100</option>
</select>

<span class="select2 select2-container select2-container--default" dir="ltr" style="width: auto;">
    <span class="selection">
        <span class="select2-selection select2-selection--single" role="combobox"
              aria-haspopup="true"
              aria-expanded="false" tabindex="0"
              aria-labelledby="select2-DataTables_Table_0_length-hk-container">
            <span class="select2-selection__rendered" id="select2-DataTables_Table_0_length-hk-container"
                  title="10">
                Depois termino
            </span>
            <span class="select2-selection__arrow" role="presentation">
                <b role="presentation"></b>
            </span>
        </span>
    </span>

    <span class="dropdown-wrapper" aria-hidden="true">
    </span>

    <!--span class="select2-container select2-container--default select2-container--open" style="position: absolute;">
        <span class="select2-dropdown select2-dropdown--below" dir="ltr" style="width: auto; min-width: 68.6094px; position: relative;">
            <span class="select2-search select2-search--dropdown select2-search--hide"><input class="select2-search__field" type="search" tabindex="0" autocomplete="off" autocorrect="off" autocapitalize="none" spellcheck="false" role="textbox">
            </span>
            <span class="select2-results">
                <ul class="select2-results__options" role="tree" id="select2-DataTables_Table_0_length-hk-results" aria-expanded="true" aria-hidden="false">
                    <li class="select2-results__option select2-results__option--highlighted" id="select2-DataTables_Table_0_length-hk-result-awu3-10" role="treeitem" aria-selected="true">
                        10
                    </li>
                    <li class="select2-results__option" id="select2-DataTables_Table_0_length-hk-result-wdy5-25" role="treeitem" aria-selected="false">
                        25
                    </li>
                    <li class="select2-results__option" id="select2-DataTables_Table_0_length-hk-result-ik1k-50" role="treeitem" aria-selected="false">
                        50
                    </li>
                    <li class="select2-results__option" id="select2-DataTables_Table_0_length-hk-result-sznp-100" role="treeitem" aria-selected="false">
                        100
                    </li>
                </ul>
            </span>
        </span>
    </span-->
</span>
