<div class="header-elements d-none">
    <div class="breadcrumb justify-content-center">
        <span class="breadcrumb-elements-item pointer">
            <i class="icon-comment-discussion mr-2"></i>
            Ajuda
        </span>

        <div class="breadcrumb-elements-item dropdown p-0 pointer" dropdown>
            <div class="breadcrumb-elements-item dropdown-toggle" data-toggle="dropdown"
                 data-toggle="dropdown"
                 id="sh-help-menu"
                 aria-controls="sh-help-menu-dropdown"
                 dropdownToggle>
                <i class="icon-gear mr-2"></i>
                Configurações
            </div>

            <div class="dropdown-menu dropdown-menu-right"
                 *dropdownMenu
                 role="menu"
                 id="sh-help-menu-dropdown"
                 aria-labelledby="sh-help-menu">
                <a href="#" class="dropdown-item"><i class="icon-user-lock"></i> Account security</a>
                <a href="#" class="dropdown-item"><i class="icon-statistics"></i> Analytics</a>
                <a href="#" class="dropdown-item"><i class="icon-accessibility"></i> Accessibility</a>
                <div class="dropdown-divider"></div>
                <a href="#" class="dropdown-item"><i class="icon-gear"></i> All settings</a>
            </div>
        </div>
    </div>
</div>