<div class="nav-item dropdown dropdown-user" dropdown>
    <div class="navbar-nav-link dropdown-toggle"
         data-toggle="dropdown"
         id="header-user-card"
         aria-controls="header-user-card-dropdown"
         dropdownToggle>
        <img src="/assets/images/image.png" class="rounded-circle" alt="">
        <span>Victoria</span>
    </div>

    <div class="dropdown-menu dropdown-menu-right"
         *dropdownMenu
         role="menu"
         id="header-user-card-dropdown"
         aria-labelledby="header-user-card">
        <a href="#" class="dropdown-item"><i class="icon-user-plus"></i> My profile</a>
        <a href="#" class="dropdown-item"><i class="icon-coins"></i> My balance</a>
        <a href="#" class="dropdown-item"><i class="icon-comment-discussion"></i> Messages <span
                class="badge badge-pill bg-blue ml-auto">58</span></a>
        <div class="dropdown-divider"></div>
        <a href="#" class="dropdown-item"><i class="icon-cog5"></i> Account settings</a>
        <a href="#" class="dropdown-item"><i class="icon-switch2"></i> Logout</a>
    </div>
</div>